[Unit]
Description=Hadoop Datanode
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/hadoop
Environment=HADOOP_ROOT_LOGGER=INFO,RFA HADOOP_LOGFILE=hadoop-hdfs-datanode-%H.log
ExecStart=/bin/sh -c '{{ install_base_dir }}/hadoop/bin/hdfs --config {{ hadoop_confs_dir }}/hadoop/conf datanode >> {{ hadoop_log_dir }}/hdfs/datanode.out 2>&1'
#ExecStop=
Type=simple
Restart=always
RestartSec=10s
User=hdfs
OOMScoreAdjust=-1000
LimitNOFILE=20480000
LimitNPROC=infinity
LimitMEMLOCK=infinity


[Install]
WantedBy=multi-user.target