[Unit]
Description=Hadoop Mapreduce JobHistoryServer
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/hadoop
Environment=HADOOP_MAPRED_LOGFILE=mapred-historyserver-%H.log HADOOP_MAPRED_ROOT_LOGGER=INFO,RFA HADOOP_JHS_LOGGER=INFO,JSA
ExecStart={{ install_base_dir }}/hadoop/bin/mapred --config {{ hadoop_confs_dir }}/hadoop/conf historyserver
#ExecStop=
Type=simple
Restart=always
RestartSec=10s
User=mapred
OOMScoreAdjust=-1000
LimitNOFILE=infinity
LimitNPROC=infinity


[Install]
WantedBy=multi-user.target