[Unit]
Description=Hadoop JournalNode
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/hadoop
ExecStart={{ install_base_dir }}/hadoop/bin/hdfs --config {{ hadoop_confs_dir }}/hadoop/conf journalnode
#ExecStop=
Type=simple
Restart=always
RestartSec=10s
User=hdfs
OOMScoreAdjust=-1000
LimitNOFILE=infinity
LimitNPROC=infinity


[Install]
WantedBy=multi-user.target