[Unit]
Description=Hadoop NameNode
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/hadoop
ExecStart={{ install_base_dir }}/hadoop/bin/hdfs --config {{ install_base_dir }}/confs/hadoop/conf namenode
#ExecStop=
Type=simple
Restart=always
RestartSec=10s
User=hdfs
OOMScoreAdjust=-1000
LimitNOFILE=infinity
LimitNPROC=infinity


[Install]
WantedBy=multi-user.target