[Unit]
Description=Hadoop NameNode
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/hadoop
Environment=HADOOP_ROOT_LOGGER=INFO,RFA
ExecStart={{ install_base_dir }}/hadoop/bin/hdfs --config {{ hadoop_confs_dir }}/hadoop/conf namenode
#ExecStop=
Type=simple
Restart=always
RestartSec=10s
User=hdfs
OOMScoreAdjust=-1000
LimitNOFILE=infinity
LimitNPROC=infinity


[Install]
WantedBy=multi-user.target