[Unit]
Description=Hadoop ResourceManager
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/hadoop
ExecStart={{ install_base_dir }}/hadoop/bin/yarn --config {{ hadoop_confs_dir }}/hadoop/conf resourcemanager
#ExecStop=
Type=simple
Restart=always
RestartSec=10s
User=yarn
OOMScoreAdjust=-1000
LimitNOFILE=infinity
LimitNPROC=infinity


[Install]
WantedBy=multi-user.target