[Unit]
Description=Spark HistoryServer
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/spark
Environment=SPARK_ROOT_LOGGER=INFO,RFA
ExecStart={{ install_base_dir }}/spark/bin/spark-class org.apache.spark.deploy.history.HistoryServer > {{ hadoop_log_dir }}/spark/sparkhistoryserver.out 2>&1
#ExecStop=
Type=simple
Restart=always
RestartSec=10s
User=spark
OOMScoreAdjust=-1000
LimitNOFILE=infinity
LimitNPROC=infinity


[Install]
WantedBy=multi-user.target
