[Unit]
Description=Apache Zookeeper
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/zookeeper
ExecStart={{ install_base_dir }}/zookeeper/bin/zkServer.sh start-foreground
#ExecStop=
Type=simple
Restart=always
RestartSec=3s
User=zookeeper
OOMScoreAdjust=-1000
LimitNOFILE=infinity
LimitNPROC=infinity


[Install]
WantedBy=multi-user.target
