[Unit]
Description=Apache Zookeeper
After=network.target

[Service]
WorkingDirectory={{ install_base_dir }}/zookeeper
Environment=ZOO_LOG4J_PROP=INFO,ROLLINGFILE
ExecStart=/bin/sh -c '{{ install_base_dir }}/zookeeper/bin/zkServer.sh start-foreground > {{ hadoop_log_dir }}/zookeeper/zookeeper.out 2>&1'
#ExecStop=
Type=simple
Restart=always
RestartSec=3s
User=zookeeper
OOMScoreAdjust=-1000
LimitNOFILE=infinity
LimitNPROC=infinity


[Install]
WantedBy=multi-user.target
